.page {
    padding: 24px 15px 0 15px;
    position: relative;
    height: calc(100% - 24px);
    width: calc(100% - 30px);
    background: #fbfbfb;
    user-select: none;
    overflow-y: auto;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
