<div class="page">
    <device-title>PPT控制器</device-title>
    <div class="top">
        <div>
            <i class="iconfont icon-play"></i>
        </div>
        <div>
            <i class="iconfont icon-exit"></i>
        </div>
    </div>
    <div class="mid">
        <div class="btn-box">
            <div>
                <i class="iconfont icon-up"></i>
            </div>
            <div>
                <i class="iconfont icon-up down"></i>
            </div>
        </div>
    </div>
    <div class="bot-box">
        <div class="bot1">
            <div>
                <i class="iconfont icon-v-"></i>
            </div>
            <div>
                <i class="iconfont icon-v"></i>
            </div>
        </div>
        <div class="bot2">
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
        </div>
    </div>
    <setting-btn></setting-btn>
</div>