<div class="page">
    <device-title>PPT控制器</device-title>
    <div class="top">
        <div (click)="send('PLAY')">
            <i class="iconfont icon-play"></i>
        </div>
        <div (click)="send('EXIT')">
            <i class="iconfont icon-exit"></i>
        </div>
    </div>
    <div class="mid">
        <div class="btn-box">
            <div (click)="send('PREV')">
                <i class="iconfont icon-up"></i>
            </div>
            <div (click)="send('NEXT')">
                <i class="iconfont icon-up down"></i>
            </div>
        </div>
    </div>
    <div class="bot-box">
        <div class="bot1">
            <div (click)="send('V-')">
                <i class="iconfont icon-v-"></i>
            </div>
            <div (click)="send('V+')">
                <i class="iconfont icon-v"></i>
            </div>
        </div>
        <div class="bot2">
            <div (click)="send('A')">A</div>
            <div (click)="send('B')">B</div>
            <div (click)="send('C')">C</div>
            <div (click)="send('D')">D</div>
        </div>
    </div>
    <setting-btn></setting-btn>
</div>