<div class="page">
    <device-title>蓝牙串口调试</device-title>
    <div class="input-box">
        <input type="text" [(ngModel)]="value">
        <button class="clear" (click)="value=''">清除</button>
        <button (click)="send()">发送</button>
    </div>
    <div class="r-box">
        <div class="textzone" [innerHTML]="data | html"></div>
    </div>
    <!-- <div class="turn">
        <div class="turn-btn" [ngClass]="{'on':state=='on'}" (click)="turn()"><i class="iconfont icon-switch"></i></div>
    </div> -->
    <!-- <setting-btn></setting-btn> -->
</div>