@import "../ctrl-box/ctrl-box.component.scss";

.toggle {
    i {
        color: #389bee;
    }
}

.text-box{
    width: 100%;
    align-items: flex-start;
    padding-left: 4px;
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 140px;
    }
}