<div class="page">
    <div class="logo-box"><img src="assets/oj-logo.png" alt=""></div>
    <div class="text">点灯物联网-教育版</div>
    <!-- <div class="help"><a>?</a></div> -->
    <div class="connect-box">
        <!-- <div class="text">0. 阅读本软件使用说明</div> -->
        <div class="text">1. 连接蓝牙BLE设备</div>
        <button class="connect-btn" (click)="search()" *ngIf="!device">连接设备</button>
        <button class="connect-btn" (click)="disconnect()" *ngIf="device">已连接 {{device.name}}</button>
    </div>
    <div class="text" style="margin-top: 20px;">2. 选择设备操作界面</div>
    <div class="btn-box">
        <div [routerLink]="[item.link]" *ngFor="let item of MENU">
            <div class="icon-box">
                <i class="iconfont icon-{{item.icon}}"></i>
            </div>
            {{item.name}}
        </div>
    </div>
    <div class="add">
        <div class="text"></div>
        <a target="_blank" href="https://item.taobao.com/item.htm?id=728466241901">
            <img src="https://arduino.me/assets/notice/r4.webp" alt="arduino UNO R4">
        </a>
    </div>
    <div class="footer">powered by
        <div>
            <img src="assets/diandeng-logo.png" alt="">
        </div>
        奈何col v0.17
    </div>
</div>