@import "../page.scss";

.footer {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 15px;
    text-align: center;
    color: #808080;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 30px;
        margin-left: -34px;
    }
}

.logo-box {
    padding-top: 25px;
    position: relative;
    width: 100%;
    text-align: center;

    img {
        width: 90%;
    }
}

.text {
    font-size: 12px;
    text-align: center;
}

.connect-btn {
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.help {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-box {
    margin-top: 50px;

    .connect-btn {
        margin: 11px 0;
        background: rgb(102, 176, 255);
        border: none;
        color: #FFF;

        &:hover {
            background: rgb(150, 200, 255);
        }
    }
}

.btn-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 11px;
    margin-top: 15px;

    >div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 33.33%;
        margin-bottom: 15px;

        .icon-box {
            height: 44px;
            width: 44px;
            background: #FFF;
            margin-bottom: 7px;
            box-shadow: 0 0 5px #CCC;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 30px;
                color: #2581de;
            }

        }
    }
}

.add {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }

}