@import "../page.scss";

.footer {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 15px;
    text-align: center;
    color: #808080;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 30px;
        margin-left: -34px;
    }
}

.logo-box {
    position: relative;
    width: 100%;
    text-align: center;

    img {
        width: 90%;
    }
}

.text-d {
    font-size: 12px;
    text-align: center;
}

.text {
    font-size: 12px;
    font-weight: 700;
}

.connect-btn {
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.help {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect-box {
    margin-top: 30px;

    .connect-btn {
        margin: 11px 0;
        background: rgb(102, 176, 255);
        border: none;
        color: #FFF;
        border-radius: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;

        &:hover {
            background: rgb(150, 200, 255);
        }
    }
}

.btn-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    font-size: 12px;
    margin-top: 15px;
    position: relative;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFF;
        border-radius: 8px;
        box-shadow: 0 0 5px #CCC;
        padding: 8px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 5px #AAA;
            background: #2581de;
            color: #FFF;

            i {
                color: #FFF !important;
            }
        }

        .icon-box {
            height: 44px;
            width: 44px;
            margin-bottom: 7px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 4em;
                color: #2581de;
            }

        }
    }

}

.add {
    position: absolute;
    width: calc(100% - 30px);
    bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }

}

@media screen and (min-width: 500px) {
    .add {
        display: none;
    }
}

@media screen and (max-height: 770px) {
    .add {
        display: none;
    }
}