@import "../page.scss";
$block-size: 70px;

@media screen and (max-width: 500px) {
    .btn-box {
        width: 60vw;
        height: 60vw;
        position: absolute;

        &.left {
            top: 80px;
            left: 60px;
        }

        &.right {
            bottom: 80px;
            left: 60px;
        }

        .btn2 {
            background-color: rgb(94, 220, 255);
            border-radius: 50%;
        }

        .btn {
            width: 20vw;
            height: 20vw;
            position: absolute;

            transform: scale(1.1);

            img {
                width: 20vw;
            }

            &:first-child {
                top: 20vw;
                right: 0;

                img {
                    transform: rotate(-90deg);
                    transform-origin: left bottom;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                }
            }

            &:nth-child(2) {
                top: 0;
                left: 20vw;

                img {
                    transform: rotate(-180deg);
                }
            }

            &:nth-child(3) {
                bottom: 0;
                right: 20vw;

                img {
                    position: absolute;
                    bottom: 0;
                }
            }

            &:last-child {
                top: 20vw;
                left: 0;

                img {
                    transform: rotate(90deg);
                    transform-origin: bottom right;
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                }
            }
        }
    }

}

@media screen and (min-width: 501px) {
    .btn-box {
        width: 210px;
        height: 210px;
        position: absolute;
        // background-color: rgba(255, 104, 34, 0.455);

        &.left {
            top: 40px;
            left: 20px;
        }

        &.right {
            bottom: 40px;
            left: 20px;
        }

        .btn2 {
            background-color: rgb(94, 220, 255);
            border-radius: 50%;
        }

        .btn {
            width: $block-size;
            height: $block-size;
            position: absolute;

            transform: scale(1.1);

            img {
                width: $block-size;
            }

            &:first-child {
                top: $block-size;
                right: 0;

                img {
                    transform: rotate(-90deg);
                    transform-origin: left bottom;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                }
            }

            &:nth-child(2) {
                top: 0;
                left: $block-size;

                img {
                    transform: rotate(-180deg);
                }
            }

            &:nth-child(3) {
                bottom: 0;
                right: $block-size;

                img {
                    position: absolute;
                    bottom: 0;
                }
            }

            &:last-child {
                top: $block-size;
                left: 0;

                img {
                    transform: rotate(90deg);
                    transform-origin: bottom right;
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                }
            }
        }
    }

}