<div class="page">
    <div class="bg">
        <img src="/assets/img/joystick.webp" alt="" srcset="">
    </div>
    <div class="btn-box left">
        <widget-joystick></widget-joystick>
    </div>
    <div class="btn-box right">
        <div class="btn btn2" (press)="sendData('a\n')" (pressup)="pressup('a\n')"></div>
        <div class="btn btn2" (press)="sendData('b\n')" (pressup)="pressup('a\n')"></div>
        <div class="btn btn2" (press)="sendData('c\n')" (pressup)="pressup('a\n')"></div>
        <div class="btn btn2" (press)="sendData('d\n')" (pressup)="pressup('a\n')"></div>
    </div>
    <setting-btn></setting-btn>
</div>