<div class="page">
    <div class="btn-box left">
        <div class="btn">
            <img src="assets/img/js-btn.webp" alt="">
        </div>
        <div class="btn">
            <img src="assets/img/js-btn.webp" alt="">
        </div>
        <div class="btn">
            <img src="assets/img/js-btn.webp" alt="">
        </div>
        <div class="btn">
            <img src="assets/img/js-btn.webp" alt="">
        </div>
    </div>
    <div class="btn-box right">
        <div class="btn btn2"></div>
        <div class="btn btn2"></div>
        <div class="btn btn2"></div>
        <div class="btn btn2"></div>
    </div>
    <setting-btn></setting-btn>
</div>