@import "../page.scss";

.page {
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    img {
        height: 100%;
        transform: translate(-20%, 0%);
        opacity: 0.6;
        touch-action: manipulation;
    }
}

device-title {
    ::ng-deep {
        .device-title {
            transform: rotate(90deg);
            position: absolute;
            top: calc(50vh - 36px);
            right: 0;
            z-index: 9;
        }


    }
}

$block-size: 70px;

.btn {
    border-radius: 50%;
    transition: all 0.3s;
    background-color: rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    color: #FFF;
    font-size: 24px;

    &:active {
        transform: scale(0.95) rotate(90deg);
        background-color: rgb(51, 163, 255);
    }
}

@media screen and (max-width: 500px) {
    .btn-box {
        width: 60vw;
        height: 60vw;
        position: absolute;

        &.left {
            top: 80px;
            left: 60px;
        }

        &.right {
            bottom: 80px;
            left: 60px;
        }

        .btn {
            width: 20vw;
            height: 20vw;
            position: absolute;

            img {
                width: 20vw;
            }

            &:first-child {
                top: 20vw;
                right: 0;

                img {
                    transform: rotate(-90deg);
                    transform-origin: left bottom;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                }
            }

            &:nth-child(2) {
                bottom: 0;
                right: 20vw;

                img {
                    position: absolute;
                    bottom: 0;
                }
            }

            &:nth-child(3) {
                top: 0;
                left: 20vw;

                img {
                    transform: rotate(-180deg);
                }
            }

            &:last-child {
                top: 20vw;
                left: 0;

                img {
                    transform: rotate(90deg);
                    transform-origin: bottom right;
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                }
            }
        }
    }

}

// PC端
@media screen and (min-width: 501px) {
    $block-size: 60px;

    device-title {
        ::ng-deep {
            .device-title {
                top: calc(663px - 350px) !important;
            }
        }
    }

    .btn-box {
        width: 180px;
        height: 180px;
        position: absolute;

        &.left {
            top: 70px;
            left: 50px;
        }

        &.right {
            bottom: 70px;
            left: 50px;
        }

        .btn {
            width: $block-size;
            height: $block-size;
            position: absolute;

            img {
                width: $block-size;
            }

            &:first-child {
                top: $block-size;
                right: 0;

                img {
                    transform: rotate(-90deg);
                    transform-origin: left bottom;
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                }
            }

            &:nth-child(2) {
                bottom: 0;
                right: $block-size;

                img {
                    position: absolute;
                    bottom: 0;
                }
            }

            &:nth-child(3) {
                top: 0;
                left: $block-size;

                img {
                    transform: rotate(-180deg);
                }
            }

            &:last-child {
                top: $block-size;
                left: 0;

                img {
                    transform: rotate(90deg);
                    transform-origin: bottom right;
                    position: absolute;
                    bottom: 0;
                    right: 100%;
                }
            }
        }
    }

}