.phone-box {
    display: none;
}

.content {
    height: 100%;
}

.mask {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;

    .warn-bg {
        background: #FFF;
    }
}

.add{
    display: none;
}


@media screen and (min-width: 500px) {
    .phone-box {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        pointer-events: none;
        z-index: 9;

        img {
            width: 100%;
        }
    }

    .he {
        transform-origin: left center;
        transform: rotate(-90deg) translateY(50%);

        &.content {
            margin-left: 32px;
            margin-top: 41px;
        }
    }

    .content {
        margin-left: 34px;
        margin-top: 31px;
        background-color: #fafafa;
        border: 1px solid red;
        width: 307px;
        height: 663px;
    }

    .add{
        position: fixed;
        top: 15px;
        left: 400px;
        display: flex;
        flex-direction: column;
        img{
            width: 260px;
        }

        .text{
            text-align: center;
            width: 100%;
            padding: 15px 0;
        }
    }
}