<div class="phone-box" [ngClass]="{'he':isH}">
    <img src="assets/iphone.webp" alt="" srcset="">
</div>
<div class="content" [ngClass]="{'he':isH}">
    <router-outlet></router-outlet>
</div>

<div class="mask" *ngIf="browserVersionError">
    <div class="warn-bg">
        当前浏览器不支持蓝牙功能，请使用最新的Edge或Chrome浏览器访问
    </div>
</div>
<div class="add">
    <div class="text">
        <a target="_blank" href="https://arduino.me/a/ble-control">点击阅读软件使用说明</a>
    </div>
    <a target="_blank" href="https://item.taobao.com/item.htm?id=728466241901">
        <img src="https://arduino.me/assets/notice/r4.webp" alt="arduino UNO R4">
    </a>
    <a target="_blank" href="https://union-click.jd.com/jdc?e=618%7Cpc%7C&p=JF8BAN0JK1olXwUCVVpYAUgfB18IG1wSXQ4CUm4ZVxNJXF9RXh5UHw0cSgYYXBcIWDoXSQVJQwYCU1ldAEsRHDZNRwYlD3lcNyRfbT93XDN-QDpwJQR9KSU0TkcbM244HlwTXwIFUV1tOEsQMz1mw-2jhaOzSIr3h56flF8JK1sSWg8DUVpaDk4TAW44HFscbQMDXVleC0MWH2cKGF4UXgYGZG5tC3sQA2YcHSlUDxIEJm5tCHsUMy1mTFlCXFILAVpYDkNEBmgMSAgQWgUGAwxYCR5ABT0MSVIlXwcDUFdtOA">
        <img src="https://arduino.me/assets/notice/bookad.webp" alt="arduino book">
    </a>
    <a target="_blank" href="https://openjumper.com/">
        <img src="https://arduino.me/assets/notice/1.webp" alt="oj">
    </a>
</div>