<div class="page">
    <div class="bg-box">
        <img src="assets/img/home-bg.jpg" alt="">
    </div>
    <device-title>智能家居</device-title>
    <div class="content">
        <div class="data-list">
            <div class="data-box" *ngFor="let item of items1" (click)="selectItem(item)">
                <data-box [config]="item"></data-box>
            </div>
        </div>
        <div class="data-list data-list2">
            <div class="data-box" *ngFor="let item of items2" (click)="selectItem(item)">
                <data-box [config]="item"></data-box>
            </div>
        </div>
        <div class="line">
            <div class="title">近期 {{currentItem.name}} 数据</div>
            <line-chart [config]="currentItem"></line-chart>
        </div>
        <div class="text">
            控制中心
        </div>
        <div class="ctrl-list">
            <div class="ctrl-box" *ngFor="let item of items3">
                <ctrl-box [config]="item" (stateChange)="stateChange($event)"></ctrl-box>
            </div>
            <div class="ctrl-box">
                <input-box (textChange)="textChange($event)"></input-box>
            </div>
        </div>
        <div style="height: 30px;"></div>
    </div>

    <setting-btn></setting-btn>
</div>