.device-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
        font-size: 16px;
        font-weight: 700;
        color:#595959;
        position: relative;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .state {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: height 0.5s, opacity 1s;
        opacity: 0.6;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }
}